    /*
    Flaticon icon font: Flaticon
    Creation date: 01/05/2019 02:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-law:before { content: "\f100"; }
.flaticon-law-1:before { content: "\f101"; }
.flaticon-law-2:before { content: "\f102"; }
.flaticon-court:before { content: "\f103"; }
.flaticon-lawyer:before { content: "\f104"; }
.flaticon-equal:before { content: "\f105"; }
.flaticon-argument:before { content: "\f106"; }
.flaticon-law-3:before { content: "\f107"; }
.flaticon-law-4:before { content: "\f108"; }
.flaticon-law-5:before { content: "\f109"; }
.flaticon-law-6:before { content: "\f10a"; }
    
    $font-Flaticon-law: "\f100";
    $font-Flaticon-law-1: "\f101";
    $font-Flaticon-law-2: "\f102";
    $font-Flaticon-court: "\f103";
    $font-Flaticon-lawyer: "\f104";
    $font-Flaticon-equal: "\f105";
    $font-Flaticon-argument: "\f106";
    $font-Flaticon-law-3: "\f107";
    $font-Flaticon-law-4: "\f108";
    $font-Flaticon-law-5: "\f109";
    $font-Flaticon-law-6: "\f10a";